#!/bin/bash
eval `gpg2 -q -d $HOME/.cfgme/files/s3.gpg`
{% for backup in backups %}
s3cmd sync --access_key=$AWS_ACCESS_KEY_ID --secret_key=$AWS_SECRET_KEY \
  {% if backup.include is defined -%}
  --include="{{ backup.include }}" \
  {% endif %}
  {% if backup.exclude is defined -%}
  --exclude="{{ backup.exclude }}" \
  {% endif %}
  {{ backup.path }} s3://{{ backup.bucket }}{{ backup.path }}/
{% endfor %}
